<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="9">
        <h2>{{Location.name}}</h2>
        <ion-item>
          <ion-label>
            Type: {{Location.type}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Dimension: {{Location.dimension}}
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Residents:

            <ion-grid>
              <ion-row>
                <ion-col size="3" *ngFor="let res of Location.residentsInfo">
                  <ion-avatar>
                    <img [src]="res.image" alt="">
                  </ion-avatar>
                  <!-- <span>{{res.name}}</span> -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
